<header>
  <img src="assets/img/picture-ivo.jpg" alt="Profile picture" width="130px" height="130px" loading="eager">
  <h1>Ivo Gonçalves</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Java | Spring Boot | Angular | JavaScript | TypeScript</p>
    <p>São Paulo - SP, Brasil</p>
    <p>
      Sou Desenvolvedor Java Full Stack apaixonado por tecnologia e pelo processo de criar soluções que realmente fazem diferença. Busco evoluir constantemente, ampliando meus conhecimentos e enfrentando novos desafios para crescer como profissional e entregar cada vez mais qualidade.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/Profile.pdf" target="_blank" class="btn btn-primary">
            Download Curriculum
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ivo-jose-developer/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg" alt="WhatsApp contact icon" width="22px" height="24px">
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5511949897498&text=Ol%C3%A1%20sou%20o%20Ivo%2C%20preciso%20de%20um%20job%21" target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: +55 (11) 9498-97498</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img src="assets/icons/mail.svg" alt="E-mail contact icon" width="22px" height="24px">
        <figcaption>
          <a href="mailto:ivojmgs19@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>ivojmgs19&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
